<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.health.app.branch.BranchMapper">

    <select id="selectBranchList" resultType="com.health.app.branch.BranchDTO">
        SELECT
            branch_id       AS branchId,
            branch_name     AS branchName,
            manager_name    AS managerName,
            manager_phone   AS managerPhone,
            operating_hours AS operatingHours,
            status_code     AS statusCode
        FROM branch
        WHERE use_yn = TRUE
        ORDER BY branch_id DESC
    </select>

  	<select id="selectBranchDetail"
            parameterType="long"
            resultType="com.health.app.branch.BranchDTO">
        SELECT
            branch_id,
            branch_name,
            post_no,
            base_address,
            detail_address,
            manager_name,
            manager_phone,
            operating_hours,
            status_code,
            create_date
        FROM branch
        WHERE branch_id = #{branchId}
          AND use_yn = TRUE
    </select>
    
</mapper>
